body{
	background-color:hsl(218, 5%, 25%);
	font-family: 'Cabin', sans-serif;
}

.asleep{
	font-size: 30px;
	text-align: center;
	color:hsl(218, 9%, 75%);
}

#ss{
	height: 400px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media only screen and (max-width: 600px){
	.asleep{
	font-size: 30px;
	text-align: center;
	margin-top: 10vh;
	color:hsl(218, 9%, 75%);
}

#ss{
	height: 250px;
	width: 370px;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

}