body{
	background-color:hsl(218, 5%, 25%);
	font-family: 'Cabin', sans-serif;
}

.asleep{
	font-size: 30px;
	text-align: center;
	color:hsl(218, 9%, 75%);
}

#ss{
	height: 400px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

	.asleep{
	font-size: 90px;
	text-align: center;
	margin-top: 10vh;
	color:hsl(218, 9%, 75%);
}

#ss{
	height: 250px;
	width: 370px;
	margin-top: 60vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

}

@media only screen and (min-device-width( )) and (max-device-width( ))