body{
	background-color: hsl(124, 80%, 57%);
	font-family: 'Kanit', sans-serif;
	overflow-x:hidden;
}
.parsons{
	position: fixed;
	font-size: 25px;
	background-color: hsl(39, 75%, 56%);
	width: 110%; 
	left:  -10px;
	top: -10px;
}
.tracy{
	font-size: 400px;
	font-color: black;
	text-align: center;
	line-height: 400px;
	font-family: 'Shrikhand', cursive;

	}
.date{
	position: absolute;
	font-size: 80px;
	top: 80vh;
	transform: rotate(90deg);

}
.location{
	position: absolute;
	font-size: 80px;
	top: 80vh;
	right:2vw;
	transform: rotate(270deg);
}
.tracy:hover{
	animation-name: pulse;
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  	animation: pulse 2s infinite;
  	background-color: hsl(124, 62%, 50%);
}
.date:hover{
	animation-name: pulse;
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  	animation: pulse 2s infinite;
  	background-color: hsl(124, 62%, 50%);
}
.location:hover{
	animation-name: pulse;
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  	animation: pulse 2s infinite;
  	background-color: hsl(124, 62%, 50%);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
  }
  70% {
      -webkit-box-shadow: 0 0 0 600px hsl(305, 68%, 68%) opacity: 50%;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
    box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
  }
  70% {
      -moz-box-shadow: 0 0 0 600px hsl(305, 68%, 68%);
      box-shadow: 0 0 0 300px hsl(305, 68%, 68%);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
      box-shadow: 0 0 0 0 hsl(39, 75%, 56%);
  }
}


@media only screen and (max-width: 900px){
	.tracy{
	font-size: 250px;
	font-color: black;
	text-align: center;
	line-height: 200px;
	}
.date{
	position: absolute;
	font-size: 40px;
	top: 40vh;
	transform: rotate(90deg);

}
.location{
	position: absolute;
	font-size: 40px;
	top: 40vh;
	right:2vw;
	transform: rotate(270deg);
}
.parsons{
	position: fixed;
	font-size: 16px;
	background-color: hsl(39, 75%, 56%);
	width: 110%; 
	left:  -10px;
	top: -10px;
}


}
@media only screen and (max-width: 600px){
	.tracy{
	font-size: 150px;
	font-color: black;
	text-align: center;
	line-height: 100px;
	}
.date{
	position: absolute;
	font-size: 50px;
	top: 40vh;
	transform: rotate(90deg);

}
.location{
	position: absolute;
	font-size: 50px;
	top: 40vh;
	right:2vw;
	transform: rotate(270deg);
}
.parsons{
	position: fixed;
	font-size: 8px;
	background-color: hsl(39, 75%, 56%);
	width: 110%; 
	left:  -10px;
	top: -5px;
}

}
a:visited, a:link, a:active{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	color: black;
}









